body {
  font-family: Georgia, '游明朝', YuMincho, 'Hiragino Mincho ProN', Meiryo, serif;
  
}
.font-color {
  color:#777;
}
.font-color2 {
  color:#333;
}
header {
  padding-top:60px;
  margin-bottom:70px;
}
.container {
  width:921px;
  margin:0 auto;
}
header .container {
  display:flex;
  align-items: flex-end;
}


header h1 {
  font-size:36px;
  margin:0;
}
header p {
  margin:0;
}

.header ul {
  text-align:center;
}
.header nav {
  text-align:center;
}
.header-nav li{
  display:inline-block;
  list-style: none;
  padding-right:16px;
}
.header-nav a {
  color:#333;
  text-decoration:none;
}

.message-wrapper .container {
  padding-bottom:25px;
  margin-bottom:90px;
}

.message-wrapper img {
  width:100%;
  margin-bottom:90px;
}

.message-wrapper h2 {
  font-size:27px;
  font-weight:normal;
}



.article {
  margin-bottom:75px;
  display:flex;
}
.article a{
  text-decoration:none;
}
.dates {
  width:40%;
}
.content {
  width:60%;
}
.index {
  display:flex;
}
.index-box {
  padding:8px 18px;
  border:solid 0.5px #ccc;
  margin-right:6px;
}
.info .container {
  display:flex;
  padding:75px 0;
  border-top:solid 0.5px #e6e6e6;
}
.introduction {
  height:224px;
  width:228px;
  padding-right:60px;
}

.introduction img {
  width:100px;
  border-radius:50%;
}
.fab {
  color:#777;
  width:20px;
}
.fab:hover {
  cursor:pointer;
}
.introduction p{
  font-family: Georgia, 游明朝, YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
}
.intro-upper {
  display:flex;
}
.name {
  padding-left:40px;
}

.info-second {
  width:187px;
  padding-right:50px;  
  font-family: Georgia, 游明朝, YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
}
.info-second h4 {
  font-weight:normal;
}
.info-second p{
  font-family: Georgia, 游明朝, YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
  text-decoration:none;
}
.recent-posts {
  padding-right:50px;
}
.recent-posts a {
  text-decoration:none;
}

.theme {
  text-decoration:none;
  text-decoration:underline;
}


.category a{ 
  text-decoration:none;
}
.category input {
  border:solid 1px #e6e6e6;
  width:100%;
  font-size:16px;
  padding:6px;
}
footer .container {
  padding-top:60px;
  padding-bottom:60px;
  border-top:solid 0.5px #e6e6e6;
}
footer .fab {
  padding-right:20px;
  float:left;
}

.footer-right {
  text-align:center;
}
footer a{
  text-decoration:none;
}